<div class="container-fluid">
  <div style="color: #0d6777;">
    <h1>{{ title }}</h1>
    <h3>{{ description }}</h3>
  </div>

  <!-- form insert item details into database -->
  <div style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="item">Shopping Item</label>
        <input type="text" class="form-control" placeholder="Shopping Item Name" id="item" required
          [(ngModel)]="itemValue" name="item">
      </div>

      <!-- submit button -->
      <div class="btn-group">
        <button type="submit" class="btn btn-info"><i class="fas fa-plus-circle"></i></button>
      </div>
    </form>
  </div>
  <hr>
  <!-- content from firebase -->
  <h2>Items in your Shopping List</h2>
  <div class="col-md-3">
    <hr>
    <pre *ngFor="let item of items | async">{{item.content}}</pre>
  </div>
</div>